# System folders
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Global
/vendor/
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

.env
.env.backup
.env.production
.phpactor.json
auth.json
.phpunit.cache
.phpunit.result.cache

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/public/build
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
/storage/pail

Homestead.yaml
Homestead.json
/.vagrant
